* { 
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'arial black';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 155px;

}

body {
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
}

nav {
    background-color: rgb(156,230,252) ;
    text-align: center;
    width: 375px;
    height: 55px;
    margin-top: 10px;
}

ul {
    list-style: none;
}

ul li a {
    float: left;
    color: rgb(73,145,103) ;
    padding: 0px 35px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
}

ul li a:hover{
    background: rgb(114,145,192) ;
}

p {
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
    width: 340px;
    font-size: 10px;
}

h1{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
    color: rgb(73,145,103);
}
.logo{
    margin-top: 10px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

.afbeeldingmid{
    height: 200px;
    width: 375px;
}

h2{
    color: rgb(73,145,103);
    text-align: center
}

.collagetekst{
width: 340px;
margin-left: 10px;
margin-right: 10px;
margin-top: 15px;
display: flex;
justify-content: space-around;
}

.collagetekst img{
    width: 60px;
    height: 65px;
}

.ecosysteemcollage{
width: 340px;
margin-left: 10px;
margin-right: 10px;
margin-top: 15px;
display: flex;
justify-content: space-around;
}

.ecosysteemcollage img{
width: 80px;
height: 95px;
}

main{
    padding-bottom: 100px;
}

.fotocollage img{
    width: 375px;
    height: 200px;
}